@media(max-width:36em){
    html{
        font-size: 52.5%;
    }
}

@media(max-width:30em){
    html{
        font-size: 42.5%;
    }
}

@media(max-width:24em){
    html{
        font-size: 32.5%;
    }
    .button{
        top:16.4rem;
        right:19rem;
    }
    .container{
        width: 45rem;
    }
    .input-box{
        width: 10rem;
        margin-bottom: 3.2rem;
    }

    .section-inputs{
        margin-bottom: 3.2rem;
    }

    
}